@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100);

body {
  background-image: url('../images/cooking-grey.png');
  background-size: cover;
  background-attachment: fixed;
}

p {
  padding: 2% 40px 5% 15%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
  text-decoration: none;
  color: gray;
}

.button {
  background-color: blue;
  border: none;
  font-family: oswald;
}

a:.button {
  color: gray;
}

.caladine-nav {
  color: white;
  text-align: center;
  font-size: 60px;
  margin-top: 20%;
  font-family: josefin sans;

}

.side-nav {
  background-color: black;
  font-family: oswald;
  overflow: overlay;
  float: left;
  height: 100vh;
  margin: 0px 10px 0px 0px;
  width: 300px;
}

.nav {
  background-position: fixed;
  float: right;
  font-family: oswald;
  font-size: 20px;

}

.nav-link-section {
  margin-top: 80px;
}

.nav-link {
  color: red;
  list-style: none;
  font-size: 25px;
  margin: 5px 0px 5px 5px;
}

.logo-main {
  font-size: 80px;
  text-align: center;
  padding-top:30px;
}

.logo {
  font-family: josefin sans;
  color: white;
}

.main {
  height: 100vh;
 /* float: right;*/
 /* background-color: white;*/
  margin: 0px 0% 0px 0%;
  /*opacity: .8;*/
  overflow: auto;
}

.home-main {
  margin: 150px 20% 0px 0px;
  /*text-align: center;*/

}

.home-text {
  color: white;
  font-size: 80px;
  font-family: oswald;
  padding: 0% 40px 0% 0%;

}

.recipe-search-img {
  width: 40%;
  height: 40%;
  margin: 2% 30% 10% 30%;
}

.recipe-headline {
  text-align: center;
}

.recipe-board {
  margin: -20px 150px;
}

.recipe-board-description {
  font-family: oswald;
  font-size: 15px;
  color: white;
}

.signup {
  margin: 5% 15%;
}

.new-recipe-button {
  margin: 2% 10%;
}

