@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Oswald);

body {
  background-image: url('../images/cooking.jpg');
  background-size: cover;
  background-attachment: fixed;
}

p {
  padding: 2% 40px 5% 40px;
}

.nav {
  background-position: fixed;
  float: right;
  font-family: oswald;
  font-size: 20px;

}

.nav-link {
  color: red;
}

.logo-main {
  font-size: 80px;
  text-align: center;
  padding-top:30px;
}

.logo {
  font-family: lobster;
  color: red;
}

.main {
  height: 100%;
  background-color: white;
  margin: 5% 25%;
  /*opacity: .8;*/
  overflow:contain;
}

.home-main {
  margin: 25px 5px 100px 5px;

}

.recipe-search-img {
  width: 40%;
  height: 40%;
  margin: 2% 30% 10% 30%;
}

.recipe-headline {
  text-align: center;
}

.recipe-board {
  margin: 2% 10%;
}

.signup {
  margin: 5% 15%;
}

.new-recipe-button {
  margin: 2% 10%;
}

