@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
  background-image: url('../images/cooking.jpg');
  background-size: cover;
  background-attachment: fixed;
}

p {
  padding: 2% 40px 10px 40px;
}

.nav {
  background-position: fixed;
  float: right;
}

.logo-main {
  font-size: 80px;
  text-align: center;
}

.logo {
  font-family: lobster;
  color: red;
}

.main {
  height: 100%;
  background-color: white;
  margin: 5% 15%;
  /*opacity: .8;*/
  overflow:contain;
}

.home-main {
  margin: 25px 5px 35px 5px;

}

.recipe-board {
  margin: 2% 10%;
}

.signup {
  margin: 5% 15%;
}

.new-recipe-button {
  margin: 2% 10%;
}

