<html>
<head>
  <title>Cookbook</title>
</head>
<body>
<h1 class="logo-main logo">Cookbook</h1>
<section class="recipe-board">
  <section>
    <h3>Mozz Sandwhich</h3>
    <h5>Traditional NY style Mozz sandwhich</h5>
    <h6>Paul</h6>
  </section>
  <section>
    <h3>Mozz Sandwhich</h3>
    <h5>Traditional NY style Mozz sandwhich</h5>
    <h6>Paul</h6>
  </section>
  <section>
    <h3>Mozz Sandwhich</h3>
    <h5>Traditional NY style Mozz sandwhich</h5>
    <h6>Paul</h6>
  </section>
  <section>
    <h3>Mozz Sandwhich</h3>
    <h5>Traditional NY style Mozz sandwhich</h5>
    <h6>Paul</h6>
  </section>
  <section>
    <h3>Mozz Sandwhich</h3>
    <h5>Traditional NY style Mozz sandwhich</h5>
    <h6>Paul</h6>
  </section>
  <section>
    <h3>Mozz Sandwhich</h3>
    <h5>Traditional NY style Mozz sandwhich</h5>
    <h6>Paul</h6>
  </section>
  <section>
    <h3>Mozz Sandwhich</h3>
    <h5>Traditional NY style Mozz sandwhich</h5>
    <h6>Paul</h6>
  </section>
  <section>
    <h3>Mozz Sandwhich</h3>
    <h5>Traditional NY style Mozz sandwhich</h5>
    <h6>Paul</h6>
  </section>
  <section>
    <h3>Mozz Sandwhich</h3>
    <h5>Traditional NY style Mozz sandwhich</h5>
    <h6>Paul</h6>
  </section>

</section>
</body>
</html>
