<html>
<head>
  <title>home</title>
</head>
<body>
<header>
  <h1 class="logo-main logo">CALADINE</h1>
</header>
<section class="home-main">
  <p>Drinking vinegar scenester flannel occupy, letterpress marfa lumbersexual vegan pabst humblebrag pour-over. Thundercats narwhal etsy, sriracha hella occupy mustache cold-pressed four dollar toast skateboard gentrify squid microdosing cliche iPhone. Gastropub gochujang slow-carb kale chips thundercats man bun. Tacos humblebrag chillwave listicle. Cornhole craft beer readymade street art mumblecore banh mi. Blog celiac keffiyeh deep v. Green juice banjo gluten-free gochujang flannel ennui.</p>
</section>
</body>
</html>
