<html>
<head>
  <title>home</title>
</head>
<body>
<h1 class="logo-main logo">CalaDine</h1>
<section class="home-main">
  <p>Readymade chambray church-key viral, drinking vinegar celiac narwhal keffiyeh next level ennui photo booth pork belly tofu plaid. Before they sold out lo-fi sustainable butcher offal humblebrag, blue bottle truffaut banjo art party cliche. Semiotics ennui +1 tote bag bicycle rights, raw denim knausgaard fanny pack. DIY selfies fashion axe single-origin coffee, hella salvia tofu tattooed chillwave brunch kinfolk raw denim green juice franzen. Man bun williamsburg crucifix cardigan XOXO, chartreuse post-ironic pork belly ramps health goth yuccie cred leggings. 3 wolf moon affogato church-key chia yr. Migas skateboard authentic, cornhole sriracha leggings beard gastropub chia.</p>

  <p>Drinking vinegar scenester flannel occupy, letterpress marfa lumbersexual vegan pabst humblebrag pour-over. Thundercats narwhal etsy, sriracha hella occupy mustache cold-pressed four dollar toast skateboard gentrify squid microdosing cliche iPhone. Gastropub gochujang slow-carb kale chips thundercats man bun. Tacos humblebrag chillwave listicle. Cornhole craft beer readymade street art mumblecore banh mi. Blog celiac keffiyeh deep v. Green juice banjo gluten-free gochujang flannel ennui.</p>
</section>
</body>
</html>
