<h1 class="logo-main logo">Recipe Search</h1>
<form class = "signup" ng-submit="performRecipeSearch()" >
  <div class="form-group">
    <!-- <label for="exampleInputEmail1"></label> -->
    <input type="food" class="form-control" placeholder="ex. Veal Picatta" ng-model="q">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<section ng-repeat="recipe in recipes track by $index">
 <h3 class="recipe-headline"><a href="{{recipe.source_url}}">{{recipe.title}}</h3>
 <img class="recipe-search-img" src="{{recipe.image_url}}">
</section>
<h6>Powered By Food2Fork.com</h6>

<!-- spoonacular.com API -->



