<h1 class="logo-main logo">SIGN UP</h1>
<section class="signup">
  <form ng-submit="userSignup()">

    <div class="form-group">
      <label class="form-label" for="email">E-MAIL</label>
      <input  type="email" class="form-control " id="email" placeholder="name@email.com" ng-model="user.email">
    </div>
    <div class="form-group">
      <label class="form-label" for="password">PASSWORD</label>
      <input type="password" class="form-control form-label" id="password" placeholder="********" ng-model="user.password">
    </div>

    <button type="submit" class="button btn btn-default">SIGNUP</button>
  </form>
</section>
